.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 50px auto;
    transition: .3s width,
                .3s height .3s,
                .3s margin-top .3s,
                ls background-color;
}

/* buat ubah lebar */
.size{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

.caption {
    background-color: black;
}


/* <!-- kode di bawah punya spread operator --> */
body{
    background-color: white;
    text-align: center;
}
.namaMhs{
    font-family: Arial;
    font-size: 80px;
    color: white;
}
.namaMhs span{
    display: inline-block;
    transition: .3s;
    cursor: pointer;
}
.namaMhs span:hover{
    transform: scale(2) translateY(-20px);
}
/* <!-- kode di atas punya spread operator --> */